<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SistemaBiblioteca</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">





    <link rel="stylesheet" href="../public/bootstrap-3-4/b3/3.3.5/css/bootstrap.min.css">

    <link rel="stylesheet" href="../public/font-awesome/css/font-awesome.css">

    <!-- Theme style -->
    <link rel="stylesheet" href="../style/AdminLTE.min.css"> <!-- nav, side, footer -->

    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="../style/_all-skins.min.css"> <!-- color nav, side -->








  <!-- jQuery -->
  <script src="../js/jquery-3.1.1.min.js"></script> <!-- separa dos vistas -->
  
 
  <!-- AdminLTE App -->
  <script src="../js/app.min.js"></script><!-- oculta barra -->
  </head>


















  
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      <header class="main-header">
        <!-- Logo -->
        <a href="prestamo.html" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>A</b>D</span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>SIS VALERIA XD</b></span>
        </a>

        
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Navegación</span>
          </a>


          <!-- Navbar Right Menu -->
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- Messages: style can be found in dropdown.less-->

              <!-- User Account: style can be found in dropdown.less -->
              <li class="dropdown user user-menu">
                 <a href="#" class="dropdown-toggle " data-toggle="dropdown">
                   <span class="logo-mini">Usuario</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- User image -->
                  <li class="user-header">
                    <p>
                      http://misaulascreativas.blogspot.com
                    </p>
                  </li>
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-right">
                      <a href="login.html" class="btn btn-default btn-flat">Cerrar</a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </header>



      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <li class="header"></li>
             <li id="siEscritorio">
              <a href="prestamo.html">
                <i class="glyphicon glyphicon-barcode"></i>
                 <span>Prestamos/Devoluciones</span>
              </a>
            </li>
            <li>
            </li>
             <li id="siLibros">
              <a href="libro.html">
                <i class="glyphicon glyphicon-barcode"></i>
                 <span>Libros</span>
              </a>
            </li>
              <li id="siAutores">
              <a href="autor.html">
                <i class="glyphicon glyphicon-barcode"></i>
                 <span>Autores</span>
              </a>
            </li>
            <li id="siEditoriales">
              <a href="editorial.html">
                <i class="glyphicon glyphicon-tags"></i>
                <span>Editoriales</span>
              </a>
            </li>
            <li id="siMaterias">
              <a href="materia.html">
                <i class="glyphicon glyphicon-tags"></i>
                <span>Materias</span>
              </a>
            </li>
            <li id="siEstudiantes">
              <a href="estudiante.html">
                <i class="glyphicon glyphicon-tags"></i>
                <span>Estudiantes</span>
              </a>
            </li>
            <li id="siUsuarios">
              <a href="usuario.html">
                <i class="glyphicon glyphicon-tags"></i>
                <span>Administrador</span>
              </a>
            </li> 
             <li id="siAcercade">
              <a href="acercade.html">
                <i class="fa fa-info-circle"></i> <span>Acerca De...</span>
                <small class="label pull-right bg-yellow">IT</small>
              </a>
            </li>   
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>


































<!--Contenido-->
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">        
        Hola section :)
    </div><!-- /.content-wrapper -->
  <!--Fin-Contenido-->


































  <footer class="main-footer">
      <div class="pull-right hidden-xs">
        <b>Version</b> 1.0
      </div>
      <strong>Copyright &copy; 2019 <a href="http://misaulascreativas.blogspot.com">MISAULASCREATIVAS</a>.</strong> All rights reserved.
  </footer>    







</body>
</html>







